.flex {
  background-color: var(--color-light-blue);
  padding-top: 2rem;
  width: 100%;

  &__child {
    padding: 2rem;

    @media (--large) {
      max-width: 50%;
    }
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    @media (--medium) {
      flex-direction: row;
      justify-content: middle;
      text-align: left;
    }
  }
}
