.page-hero {
  position: relative;

  &__container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 0 6rem;
    text-align: center;

    @media (--large) {
      height: 40rem;
      padding: 0 0 6rem;
      justify-content: flex-end;
    }
  }

  &__copy {
    background-color: color-mod(var(--color-blue) a(75%));
    border: 1px dashed white;
    color: white;
    padding: 2rem;
    margin: 2rem;

    @media (--large) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
