.pagehero {
  height: 75rem;
  font-size: 2rem;
  position: relative;

  &__footer {
    height: 8rem;
    margin: -8rem 8rem;
    text-align: center;
    position: relative;
    max-width: calc(100% - 16rem);

    &-inner {
      /*border: 2px solid black;*/
      width: calc(100% - 3rem);
      height: calc(100% - 3rem);
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 8fr 4fr;
    height: 100%;
  }

  &__primary {
    padding: 18rem 8rem 0;
    font-size: 2rem;
  }

  &__secondary {
    background-repeat: no-repeat;
    background-position: -10rem 0;
    background-size: cover;
    max-height: 75rem;
  }
}
