@custom-media --extra-small (width >= 384px);
@custom-media --small (width >= 512px);
@custom-media --medium-small (width >= 640px);
@custom-media --medium (width >= 768px);
@custom-media --medium-large (width >= 896px);
@custom-media --large (width >= 1024px);
@custom-media --extra-large (width >= 1152px);


:root {
  --color-white: #fff;
  --color-yellow: #ffdd7f;
  --color-powder-blue: #b1dbe2;
  --color-bdazzled-blue: #375c91;
  --color-claret: #6b1230;
}

div {
  box-sizing: border-box;
}

body {
  font-family: Noto Sans, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  line-height: 45px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Work Sans, sans-serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

.has-rhythm {
  > * + * {
    margin-top: 1rem;
  }
    
  &--large {
    > * + * {
      margin-top: 1.5rem;
    }
  }
}

.text-centered {
  text-align: center;
}

.text-jumbo {
  font-size: 8rem;
}

.is-blue {
  background-color: var(--color-bdazzled-blue);
}

.is-yellow {
  background-color: var(--color-yellow);
}

.is-light-blue {
  background-color: var(--color-powder-blue);
}

.is-red {
  background-color: var(--color-claret);
}

.has-white-text {
  color: var(--color-white);
}

.has-blue-text {
  color: var(--color-ucla-blue);
}

.has-yellow-text {
  color: var(--color-yellow);
}
